body {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(146, 146, 146);
}

.loading {
    position: absolute;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(146, 146, 146);
    opacity: 1;
    transition: visibility 2s, opacity 2s ease-out;

    visibility: visible;

    .image {

        max-width: 90%;
        width: 400px;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, 0%);

    }
}

.loading.fade {
    opacity: 0;
    visibility: hidden;

}

#map {
    width: 100%;
    height: calc(100vh - 5em);
}



.content {
    position: relative;
    z-index: 0;
}


.navbar {
    display: table;
    max-width:800px;
    width:100%;

    border-spacing: 10px;
    border-collapse: separate;
}

.navbar-banner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    text-decoration: none;
    background-color: #fff;
    color: midnightblue;
    padding: 0 0em 0 0em;
    height: 2em;
    margin-right:auto;
    border-radius: 5px;
}

.navbar-link {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    background-color: #fff;
    color: rgb(0, 0, 0);
    padding: 0 0em 0 0em;
    border-radius: 5px;
}

.navbar-link:hover {
    background-color: rgb(179, 255, 0);
    text-decoration: none; 
}

.navbar-link:active {
    color: rgb(255, 0, 179);

}

.navbar-link[aria-current="page"] {
    background-color: rgb(134, 217, 255);
}